
.navbar{
    background-color: #99B2B7;
    padding: 0px;
    display: flex;
    justify-content: center;

}
.navbutton{
    color: white;
    padding: 20px 10px;
}
.navbutton:hover{
    background-color: #7A6A53;
    transition: 0.5s;
}
