{% extends '_base.html' %}

{% block title %} Contact {% endblock title %}

{% block content %}

    <h1>Gallery</h1>

    <img src="https://source.unsplash.com/800x600/?water" alt="">
    <img src="https://source.unsplash.com/800x600/?water1" alt="">
    <img src="https://source.unsplash.com/800x600/?water2" alt="">
    <img src="https://source.unsplash.com/800x600/?water3" alt="">
    <img src="https://source.unsplash.com/800x600/?water4" alt="">
    <img src="https://source.unsplash.com/800x600/?water5" alt="">
    <img src="https://source.unsplash.com/800x600/?water6" alt="">
    <img src="https://source.unsplash.com/800x600/?water7" alt="">
    <img src="https://source.unsplash.com/800x600/?water8" alt="">
    <img src="https://source.unsplash.com/800x600/?water9" alt="">
    <img src="https://source.unsplash.com/800x600/?water10" alt="">


{% endblock content %}

